/*****************************Globales*********************************/
:root{
    --color-tono6: #06141B;
    --color-tono5: #11212D;
    --color-tono4: #253745;
    --color-tono3: #4A5C6A;
    --color-tono2: #9BA8AB;
    --color-tono1: #CCD0CF;
    --color-deg: #4a5c6a8e;
    --color-azul: #0d6dfd;
    --color-azul-deg: #0d6dfd8a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-tono1);
}


/**********************************************************/

/*************************Nav*********************************/

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-tono6); /*color de el nav en modo telefono*/
  }

.fonde-texto{
    background-color: var(--color-tono3);/*color del boton de menu en modo cel*/
}  
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
  }
  #mainNav .navbar-brand {
    color: var(--color-azul-deg);/*color de del titilo de la pagina en el nav*/
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: var(--color-tono1);/*color de los enlaces del nav*/
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: white;
  }

  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: var(--color-deg);/*color del nav en el tope*/
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: black;/*color de el nav en escrool*/
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }

/**************************************************************/

/**********************cabecera*******************************/

.cabecera {
  min-height: 800px;
  background-image: url('/image/David.jpg');
  background-position: top;
  background-size: cover;
  background-blend-mode: multiply;
}
.degradado{
  min-height: 800px;
  background: linear-gradient(to bottom, #06141b31, #11212D);
}

h1{
  color: white;
  font-size: 50px;
}

header p{
  color: white;
}

.img-shadow{
  filter: drop-shadow(
      0 0 10px rgba(163, 158, 158, 0.8)
  );
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2306141B'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2306141B'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bg-card{
  background-color: var(--color-azul-deg);
}

.bg-herra{
  background-color: var(--color-azul-deg);
}

.boton{
  background: var(--color-azul-deg);
  color: white;
}

.boton:hover{
  background-color: var(--color-azul);
}

span{
  color: var(--color-azul);
}

.borde{
  border: 2px solid var(--color-azul-deg);
}

/***************************************************************/

.section1{
  min-height: 400px;
  background-color: var(--color-tono5);
}

.section2{
  min-height: 400px;
  background-color: var(--color-tono5);  
}

.section3{
  min-height: 400px;
  background-color: var(--color-tono5);  
}

.fondo-negro{
  background-color: var(--color-tono6);
}

.iconos{
  font-size: 70px;
}
.iconos-mi{
  font-size: 30px;
}

.section4{
  min-height: 400px;
  background-color: var(--color-tono5);  
}

.section5{
  min-height: 400px;
  background-color: var(--color-tono5);  
}

.color-carta{
  background-color: var(--color-tono4);
}
.card-title{
  color: var(--color-tono1);
}

.footer{
  min-height: 200px;
  background-color: var(--color-tono6);
}

.expe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Asegura que se adapte */
  min-height: 23vh; /* Ajusta este valor según tu diseño */
}

@media (max-width: 1508px) {
  .expe {
    min-height: 30vh; /* Incrementa la altura mínima */
  }
}

@media (max-width: 1298px) {
  .expe {
    min-height: 32vh; /* Incrementa la altura mínima */
  }
}

.section-mUP{
  min-height: 400px;
  background-color: var(--color-tono5);  
}

.section-sm{
  max-width: 100vh;
}